﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

footer{
    position: fixed;
    bottom:0;
    width:100%;
}

#navBar{
    background-color:#596a7e;
}   

#heading{
    font-size: 1.4em;
    font-weight: 700;
    line-height: 2.6em;
    color: #ffa500;
    padding: 0 16px 0 1px;
    border-right: 1px solid #8da0b7;
    float: left;
}
.filters {
    background-color: #8998aa;
    padding: 5px 15px 5px 12px;
    min-height: 38px;
    color: white;
    margin-bottom: 0;
    padding-top: 5px;
}
#panel{
    background-color: #8998aa;
    padding: 5px 15px 5px 12px;
    min-height: 38px;
}
#panel1{
    background-color: #8998aa;
    padding: 5px 15px 5px 12px;
    min-height: 38px;
}

#panel2{
    background-color: #8998aa;
    padding: 5px 15px 5px 12px;
    min-height: 38px;
}

.heading1{
    color: white;
    margin-bottom: 0;
    padding-top: 5px;
}

.sp-footer {
	background-repeat: no-repeat;
	background-color: #596a7e;
	height: 35px;
	width: 150%;
	position: fixed;
	bottom: 0;
    z-index:9999;
}

.description {
    display: table;
    margin: 0 auto;
    font-weight: bold;
}



