﻿@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<nav class="navbar navbar-inverse navbar-fixed-top" id="navBar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" id="heading">SupportPoint Reports and Analytics</a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li ui-sref-active="active"><a ui-sref="report1">Top 10 Documents</a></li>
                <li ui-sref-active="active"><a ui-sref="report2">Document/Folder accesses</a></li>
                <li ui-sref-active="active"><a ui-sref="report3">Next/Previous accesses</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
            <img src="~/Images/Slider.png" />
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main fade"
             ui-view="">
        </div>
    </div>
</div>

