﻿<div ng-controller="report3Ctrl as vm">
        <h1 class="page-header">Next/Previous Document</h1>
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="filters">
                        <h3 class="panel-title heading1">Filters</h3>
                    </div>
                    <div class="panel-body">
                        <form>
                            <fieldset class="form-group">
                                <label for="exampleSelect1">Document</label>                                
                                <select id="exampleSelect1" class="form-control" ng-model="vm.user"                                        
                                        ng-options="resourceData.id as resourceData.name for resourceData in vm.idList">
                                    <option value="">Select Document</option>
                                </select>                             
                            </fieldset>
                            <fieldset class="form-group">
                                <label>Direction:</label>
                                <label class="radio-inline">
                                    <input type="radio" name="genderRadios" ng-model="vm.direction" value="Previous" ng-change="vm.onDirChange()">
                                    Previous
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="genderRadios" ng-model="vm.direction" value="Next" ng-change="vm.onDirChange()">
                                    Next
                                </label>
                                
                                <br/>
                            </fieldset>
                            <button ng-click="vm.runReport()" class="btn btn-success btn-sm">Run report</button>
                            
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading" id="panel2">
                        <h3 class="panel-title heading1">Report</h3>
                    </div>
                    <div class="panel-body">
                        <highchart config="vm.chartConfig"></highchart>
                        <span ng-if="!vm.isNext" class="description">
                            The most popular documents, folders and search terms used to reach 
                            <span ng-show="vm.docSelected != ''">document "<u>{{vm.docSelected}}</u>".</span>
                            <span ng-show="vm.docSelected == ''">the selected document.</span>
                        </span>
                        <span ng-if="vm.isNext" class="description">The most popular documents, folders and search terms visited after <u>"document {{vm.docSelected}}"</u>.</span>
                    </div>
                </div>
            </div>
        </div>
</div>