﻿<div ng-controller="report2Ctrl as vm">
    <h1 class="page-header">Folder/Document accesses</h1>
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="filters">
                    <h3 class="panel-title heading1">Filters</h3>
                </div>
                <div class="panel-body">
                    <form>
                        <fieldset class="form-group">
                            <label for="exampleSelect1">User</label>
                            <select class="form-control" id="exampleSelect1" ng-model="vm.user">
                                <option selected value="">All users</option>
                                <option ng-repeat="x in vm.userDropdown" value="{{x.userName}}">{{x.userName}}</option>
                            </select>
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="exampleSelect2">Document Type</label>
                            <select class="form-control" id="exampleSelect2" ng-model="vm.documentType">
                                <option selected value="">All Document types</option>
                                <option ng-repeat="x in vm.docTypeDropdown" value="{{x}}">{{x}}</option>
                            </select>
                        </fieldset>
                        <button ng-click="vm.filter()" class="btn btn-success btn-sm">Run report</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading" id="panel1">
                    <h3 class="panel-title heading1">Report</h3>
                </div>
                <div class="panel-body">
                    <highchart config="vm.chartConfig"></highchart>
                    <span class="description">The most popular documents, folders and search terms used to reach this document or the most popular documents, folders and search terms visited after this document.</span>
                </div>
            </div>
            <span></span>
        </div>
    </div>
</div>
