﻿<html lang="en" ng-app="reportsApp">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Dashboard.css"/>
    <link href="~/Content/Site.css" rel="stylesheet" />
    
</head>
<body>
@RenderBody()
    <script data-require="angular.js@1.2.x" src="http://code.angularjs.org/1.2.9/angular.js" data-semver="1.2.9"></script>
    <script src="https://code.angularjs.org/1.2.9/angular-route.min.js"></script>
    <script data-semver="0.10.0" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.min.js"></script>
    <script data-semver="1.2.9" src="http://code.angularjs.org/1.2.9/angular-animate.js"></script>
    <script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-utils/0.1.1/angular-ui-utils.min.js"></script>
    <script src="~/scripts/highcharts.js"></script>
    <script src="~/scripts/highcharts-ng.js"></script>
    <script src="~/scripts/CustomCode/base.js"></script>
    <script src="~/scripts/CustomCode/reportsSvc.js"></script>
    <script src="~/scripts/CustomCode/report1Ctrl.js"></script>
    <script src="~/scripts/CustomCode/report2Ctrl.js"></script>
    <script src="~/scripts/CustomCode/report3Ctrl.js"></script>
    <footer class="sp-footer"><img src=@Url.Content("~/Images/footer_refresh.PNG") /></footer>
</body>
</html>
